body{
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
    font-size: 0.93rem;
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.bg-colored{
    background-color: rgb(102,38,101);
    color: #ffffff;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    text-align: center;
    width: 80%;
}
ul{
    margin: 0;
    padding: 0;
}
header{
    border-bottom: 3px solid #ffc0cb;
    padding: 15px 0;
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}
header li{
    padding: 0 20px;
}
header h1{
    margin: 0;
    font-weight: normal;
}
header h1 .highlight,
header .current a{
    color: #ffc0cb;
}
header nav{
    margin-left: auto;
}
header nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
}
nav a:hover{
    color: #ffc0cb;
}
section#showcase{
    min-height: 400px;
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: row; 
}
section#showcase .showcase-inner{
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    display: flex;
    flex-direction: row;
}
section#showcase .container{
    flex-direction: column;
}
section#showcase h2{
    font-size: 6em;
    font-weight: normal;
    text-shadow: 0px, 0px, 30px #444;
    margin-top: 30px;  
}
section#showcase p{
    font-size: 1.25rem;
}
section#newsletter{
    padding: 15px;
}
section#newsletter input{
    padding: 4px;
    height: 25px;
    width: 250px;
}
section#newsletter form{
    margin-left: auto;
}
.button-1{
    height: 38px;
    background-color: rgb(197, 26, 132);
    border: none;
    padding: 0 20px;
    color: #ffffff;
}
section#boxes{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section#boxes .box{
    padding: 10px;
    text-align: center;
}
section#boxes .box img{
    width: 90px;
}
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    background-color: rgb(197, 26, 132);
    margin-top: auto;
}
section#content .container{
    align-items: start;
    text-align: left;
    margin: 1rem auto;
}
aside{
    padding: 0 1rem 1rem 1rem;
    margin-left: 3rem;
    background-color: rgb(102,38,101);
    color: white;
}
.events{
    background-color: #ffe4e9;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 8px;
}

.ingredients{
    list-style-type: none;
}
@media (min-width: 768px){
    section#showcase h2{
        font-size: 6em;
    }
textarea{
    max-width: inherit;
}
.container{
    flex-direction: row;
}
section#newsletter form{
    margin-right: 0;
}
aside{
    margin-left: 3rem;
}
}

/*icons*/
.box .fa-birthday-cake{
    font-size: 5em;
    color: rgb(197, 26, 132);
}
.box .fa-genderless{
    font-size: 5em;
    color: rgb(197, 26, 132);
}
.box .fa-cookie{
    font-size: 5em;
    color: rgb(197, 26, 132);
}

.page-title{
    text-align: center;
}

/*form start*/
.form{
    background-color: #ffe4e9;
    padding: 35px;
    border-radius: 8px;
}

#delivery{
    padding: 5px;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
#items{
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#p2{
    text-align: left;
    color: #000;
    margin: 0px;
}
#instructions{
    width: 100%;
}
#debit{
    text-align: left;
    transform: scale(1.5);
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px;
}
#credit{
    text-align: left;
    transform: scale(1.5);
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px;
}
#cash{
    text-align: left;
    transform: scale(1.5);
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 15px;
}
#lname{
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
#fname{
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
#email{
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
#number{
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}
/*form end*/


/*mobile nav start*/
header .container { width: 100%; }
header .container #branding { width: 80%; }

nav {
        text-align: center;
        line-height: 70px;
        width: 100%;
}

header nav ul {
        display: none;
}

nav ul a {
        display: block;
        border-top: 1px solid #EAEAEB;
        margin: 0;
}

#toggle {
        display: none;
}

#toggle:checked ~ ul {
        display: block;
}

header li { padding: 0px; }

header nav ul { margin-bottom: -15px; }

nav label {
        font-size: 26px; 
}

@media only screen and (min-width: 768px) {

        nav { width: auto;  }
        nav label  { display: none; }

        header nav { margin-right: 0px; }

        header nav ul { 
                display: flex;
                flex-direction: row; 
        }

        nav ul a {
                border-top: 0px;
                margin: 0;
                padding: 0 10px;
        }

        header nav ul { margin-bottom: 0px; }

        header .container { width: 95%; }
        header .container #branding { width: auto; }
        
}    

@media only screen and (min-width: 1000px) {
        nav ul a {
                padding: 0 20px;
        }

        header .container { width: 80%; }
} 
/*mobile nav end*/